/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 $btn-color: #14B8A6;
 .tag-container {
    border-bottom: 1px solid rgb(135, 135, 135);
    width: 95%;
    button {
        font-size: 18px;
        font-weight: 500;
        color: $btn-color;
        border-bottom: 2px solid transparent;
    }

    button:hover {
        border-bottom: 2px solid $btn-color; /* Change to your desired color */
    }


 }
