<section class="side-bar w-[20%] border-r-2 bg-gray-200 shadow-sm fixed h-full">
    <h2 class="font-semibold text-lg text-center">Side bar</h2>
    <ul class="side-bar-container flex flex-col items-center">
        <%= link_to "Profile Page", profiles_index_path%>
    </ul>
</section>